<footer class="footer">
    <div class="footer_container">
        <div class="footer_about">
            <h3>Sobre Nosotros</h3>
            <p>Somos apasionados por la música y las guitarras.</p>
        </div>
        <div class="footer_links">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="#home">Inicio</a></li>
                <li><a href="#about">Sobre Nosotros</a></li>
                <li><a href="#service">Servicios</a></li>
                <li><a href="#contact">Contáctanos</a></li>
            </ul>
        </div>
        <div class="footer_contact">
            <h3>Contáctanos</h3>
            <p><i class="bx bxs-phone-call"></i> 345345454</p>
            <p><i class="bx bxs-envelope"></i> infoguitarrashopxyz.com</p>
            <p><i class="bx bxs-map"></i> Berndorf, Alemania</p>
        </div>
        <div class="footer_social">
            <h3>Síguenos</h3>
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
        </div>
    </div>
    <div class="footer_bottom">
        <p>&copy; 2024 Guitar Shop XYZ. Todos los derechos reservados.</p>
    </div>
</footer>