<header>
    <nav>
        <div class="nav_logo">
            <a href="#">
                <img src="../../../assets/images/logo-header/logo.png" alt="Guitar Logo" />
                <h2>Guitar Shop</h2>
            </a>
        </div>
        <input type="checkbox" id="click" />
        <label for="click">
            <i class="menu_btn bx bx-menu"></i>
            <i class="close_btn bx bx-x"></i>
        </label>
        <ul>
            <li><a href="#" onclick="document.getElementById('click').checked = false;">Home</a></li>
            <li><a href="#about" onclick="document.getElementById('click').checked = false;">Acerca de</a></li>
            <li><a href="#service" onclick="document.getElementById('click').checked = false;">Servicios</a></li>            
            <li><a href="#gallery" onclick="document.getElementById('click').checked = false;">Stock</a></li>
            <li><a href="#contact" onclick="document.getElementById('click').checked = false;">Contacto</a></li>
        </ul>
    </nav>
</header>
