<section class="services" id="service">
    <h2 class="section_title">Nuestros Servicios</h2>
    <div class="section_container">
        <div class="service_container">
            <div class="services_card">
                <img src="../../../assets/images/services/venta-guitarras.jpg" alt="Venta de Guitarras" />
                <div class="services_text">
                    <h3>Venta de Guitarras</h3>
                    <p>
                        Amplia gama de guitarras para todos los niveles, desde principiantes hasta profesionales.
                    </p>
                </div>
            </div>
            <div class="services_card">
                <img src="../../../assets/images/services/venta-guitarras.jpg" alt="Clases de Guitarra" />
                <div class="services_text">
                    <h3>Clases de Guitarra</h3>
                    <p>
                        Clases personalizadas para mejorar tus habilidades y aprender nuevas técnicas.
                    </p>
                </div>
            </div>
            <div class="services_card">
                <img src="../../../assets/images/services/venta-guitarras.jpg" alt="Reparación de Guitarras" />
                <div class="services_text">
                    <h3>Reparación de Guitarras</h3>
                    <p>
                        Servicios de reparación y mantenimiento para mantener tu guitarra en perfectas condiciones.
                    </p>
                </div>
            </div>
            <div class="services_card">
                <img src="../../../assets/images/services/venta-guitarras.jpg" alt="Accesorios para Guitarra" />
                <div class="services_text">
                    <h3>Accesorios para Guitarra</h3>
                    <p>
                        Todo tipo de accesorios, desde cuerdas hasta afinadores, para complementar tu instrumento.
                    </p>
                </div>
            </div>
            <div class="services_card">
                <img src="../../../assets/images/services/venta-guitarras.jpg" alt="Alquiler de Guitarras" />
                <div class="services_text">
                    <h3>Alquiler de Guitarras</h3>
                    <p>
                        Servicio de alquiler de guitarras para eventos y prácticas.
                    </p>
                </div>
            </div>
            <div class="services_card">
                <img src="../../../assets/images/services/venta-guitarras.jpg" alt="Eventos y Conciertos" />
                <div class="services_text">
                    <h3>Eventos y Conciertos</h3>
                    <p>
                        Organización de eventos y conciertos para guitarristas y bandas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>