<section class="hero_section">
    <div class="section_container">
        <div class="hero_container">
            <div class="text_section">
                <h2>Desata tu Pasión</h2>
                <h3>Descubre la Magia en Cada Acorde</h3>
                <p>
                    Bienvenido a nuestro paraíso de guitarras, donde cada cuerda cuenta una historia y cada acorde inspira.
                </p>
                <div class="hero_section_button">
                    <button class="button">Compra en Línea</button>
                    <button class="button">Reserva una Clase</button>
                </div>
            </div>
            <div class="image_section">
                <img src="../../../assets/images/banner/guitar.png" alt="Guitarra" class="glowing-border" />
            </div>
        </div>
    </div>
</section>