/* You can add global styles to this file, and also import other style files */
/*Configuración tailwind CSS*/
@tailwind base;
@tailwind components;
@tailwind utilities;
/*Importamos fuente de google font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*Estilos generales de toda la web*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Variables CSS*/
:root {
    /* Colores */
    --primary-color: #3b141c;
    --secondary-color: #f3961c;
    --dark-color: #252525;
    --white-color: #fff;
    --light-gray-color: #f2f2f2;

    /*Max-Width Predeterminado*/
    --site-max-width: 1300px;
}
::selection {
    background-color: var(--secondary-color);
    color: var(--white-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
}
