<section class="gallery" id="gallery">
    <h2 class="section_title">Stock</h2>
    <div class="section_container">
        <div class="gallery_container">
            <div class="gallery_items">
                <img src="../../../assets/images/stock/guitarra-electrica.jpg" alt="Gallery Image" />
            </div>
            <div class="gallery_items">
                <img src="../../../assets/images/stock/guitarra-electrica.jpg" alt="Gallery Image" />
            </div>
            <div class="gallery_items">
                <img src="../../../assets/images/stock/guitarra-electrica.jpg" />
            </div>
            <div class="gallery_items">
                <img src="../../../assets/images/stock/guitarra-electrica.jpg" alt="Gallery Image" />
            </div>
            <div class="gallery_items">
                <img src="../../../assets/images/stock/guitarra-electrica.jpg" alt="Gallery Image" />
            </div>
            <div class="gallery_items">
                <img src="../../../assets/images/stock/guitarra-electrica.jpg" alt="Gallery Image" />
            </div>
        </div>
    </div>
</section>